<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="TopNavBar.html"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="SideNavBar.html"></th:block>
		<div id="layoutSidenav_content">
			<main>


		 <div class="container-fluid px-4">
                        <h1 class="mt-4">Add Student</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Add Student</li>
                        </ol>
                       
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <form action="/addStudent" method="post"  enctype="multipart/form-data">
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="fullName">Full Name</label>
													<input id="fullName" name='fullName'
														placeholder="Enter Full Name" type="text"
														class="form-control" >
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="Enter_Last_Name">Email</label>
													<input id="Enter_Last_Name" name='email'
														placeholder="Enter Email" type="email"
														class="form-control" >
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="Email">Roll No</label> 
													<input id="Email" placeholder=" Enter Roll No" type="number"
														class="form-control"  name="rollNo" required>
												</div>
											</div>
												<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="department">Faculty</label>
													 <select name="faculty" id="department" required class="form-control">
														<option value="">Select</option>
														
														<option th:each="f:${fList}" th:value="${f.id}">[[${f.name}]]</option>
													</select>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="grade">Grade</label>
													 <select name="grade" id="grade" required class="form-control">
														<option value="">Select Grade</option>
														<option value="11">11</option>
														<option value="12">12</option>
													</select>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="section">Section</label>
													 <select name="section" id="section" required class="form-control">
														<option value="A">A</option>
														<option value="B">B</option>
														<option value="C">C</option>
													</select>
												</div>
											</div>
												<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="date">Admission Date</label>
														<input type="Date" name="admissionDate"
															class=" form-control" id="date" required
															>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<div class="form-label">Gender</div>
													<input type="radio" value="Male" name="gender" id="male" checked >
													<label for="male">Male</label> 
													<input type="radio" value="Female" name="gender" id="female"> 
													<label for="female">Female</label> 
													<input type="radio" value="Others" name="gender" id="others">
													<label for="others">Others</label> 
												</div>
											</div>
												<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="datepicker">Date Of Birth</label>
														<input type="Date" name="dob"
															class=" form-control" id="datepicker" required
															>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="phoneNumber">Mobile Number</label> <input
														id="phoneNumber" placeholder="Enter Mobile Number" type="number"
														class="form-control"  name="mobileNumber">
												</div>
											</div>
										
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="parentName">Parent Name</label>
													<input id="parentName" name='parentName'
														placeholder="Enter Parent Name" type="text"
														class="form-control" >
												</div>
											</div>
											
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="parentPhoneNumber">Parent Mobile Number</label> <input
														id="parentPhoneNumber" placeholder="Enter Parent Mobile Number" type="number"
														class="form-control"  name="parentMobileNumber">
												</div>
											</div>
											
										
												<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="city">City</label>
													<input id="city" name='address.city'
														placeholder="Enter City" type="text"
														class="form-control" >
												</div>
											</div>
												<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="state">State</label>
													 <select name="address.state" id="state" required class="form-control">
													<option value="">Select</option>
														<option value="Koshi">Koshi</option>
														<option value="Madhesh">Madhesh</option>
														<option value="Bagmati">Bagmati</option>
														<option value="Gandaki">Gandaki</option>
														<option value="Lumbini">Lumbini</option>
														<option value="Karnali">Karnali</option>
														<option value="Sudurpaschim">Sudurpaschim</option>
													</select>
												</div>
											</div>
											
									
										
											<div class="col-lg-4 col-md-6">
												<div class="form-group fallback w-100">
												<label class="form-label" for="photo">Photo</label>
													<input id="photo" type="file" class="form-control"
														 name="image" required>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12"><br>
												<button type="submit" class="btn btn-primary">Submit</button>
											</div>
										</div>
									</form>
                            </div>
                        </div>
                    </div>
                	




			</main>
			<th:block th:insert="Footer.html"></th:block>
		</div>
	</div>
</body>
</html>