<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="TopNavBar.html"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="SideNavBar.html"></th:block>
		<div id="layoutSidenav_content">
			<main>


				<div class="page-wrapper">
					<div class="content container-fluid">

						<div class="page-header">
							<div class="row align-items-center">
								<div class="col">
									<h3 class="page-title">Add Teachers</h3>
									<ul class="breadcrumb">
										<li class="breadcrumb-item"><a href="teachers.html">Teachers</a></li>
										<li class="breadcrumb-item active">Add Teachers</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<div class="card-body">
										<form  action="/addTeacher" method="post" enctype="multipart/form-data">
											<div class="row">
												<div class="col-12">
													<h5 class="form-title">
														<span>Basic Details</span>
													</h5>
												</div>
											
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">Full Name <span class="login-danger">*</span></label> <input
															type="text" class="form-control" placeholder="Enter Name" name="fullName">
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														 <div>Gender</div>
														<input type="radio" name="gender" id="male" value="Male" checked> <label  for="male" > Male</label>
														<input type="radio" name="gender" id="female" value="Female"> <label  for="female"> Female</label>
														<input type="radio" name="gender" id="others" value="Others"> <label  for="others"> Others</label>
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms ">
														<label class="editLabel">Date Of Birth <span class="login-danger">*</span></label>
														<input class="form-control " type="date"
															placeholder="DD-MM-YYYY" name="dob">
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">Mobile <span class="login-danger">*</span></label>
														<input type="text" class="form-control"
															placeholder="Enter Phone" name="mobileNumber">
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms ">
														<label class="editLabel">Joining Date <span class="login-danger">*</span></label>
														<input class="form-control datetimepicker" type="date"
															placeholder="DD-MM-YYYY" name="joinDate">
													</div>
												</div>
												<div class="col-12 col-sm-4 local-forms">
													<div class="form-group">
														<label class="editLabel">Qualification <span class="login-danger">*</span></label>
														<input class="form-control" type="text"
															placeholder="Enter Qualification" name="qualification">
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">Experience <span class="login-danger">*</span></label>
														<input class="form-control" type="text"
															placeholder="Enter Experience" name="experience">
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">Faculty <span class="login-danger">*</span></label>
														<select class="form-control" name="faculty">
															<option th:each="f:${fList}" th:value="${f.id}">[[${f.name}]]</option>
														</select>												
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">Grade <span class="login-danger">*</span></label>
														<select class="form-control" name="grade">
															<option value="" >Select Grade</option>
															<option value="11">11</option>
															<option value="12">12</option>
														</select>												
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">Section <span class="login-danger">*</span></label>
														<select class="form-control" name="section">
															<option value="A">A</option>
															<option value="B">B</option>
															<option value="C">C</option>
														</select>												
													</div>
												</div>
												
												
												
												
											
												
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">Photo <span class="login-danger">*</span></label>
														<input class="form-control" type="file"
															placeholder="Select Photo" name="image">
													</div>
												</div>
											
												<div class="col-12">
													<h5 class="form-title">
														<span>Login Details</span>
													</h5>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">Username <span class="login-danger">*</span></label>
														<input type="text" class="form-control"
															placeholder="Enter Username" name="username">
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">Email ID <span class="login-danger">*</span></label>
														<input type="email" class="form-control"
															placeholder="Enter E-mail" name="email">
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">Password <span class="login-danger">*</span></label>
														<input type="text" class="form-control"
															placeholder="Enter Password" name="password">
													</div>
												</div>
											
												<div class="col-12">
													<h5 class="form-title">
														<span>Address</span>
													</h5>
												</div>
												
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">City <span class="login-danger">*</span></label> <input
															type="text" class="form-control" placeholder="Enter City" name="address.city">
													</div>
												</div>
												<div class="col-12 col-sm-4">
													<div class="form-group local-forms">
														<label class="editLabel">State <span class="login-danger">*</span></label>
														<select name="address.state"  class="form-control" >
														<option value="">Select</option>
														<option value="State-1">State-1</option>
														<option value="State-2">State-2</option>
														<option value="State-3">State-3</option>
														<option value="State-4">State-4</option>
														<option value="State-5">State-5</option>
														</select>
													</div>
												</div>
											
												<div class="col-12">
													<div class="student-submit">
														<button type="submit" class="btn btn-primary">Submit</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

		</main>
		<th:block th:insert="Footer.html"></th:block>
	</div>
	</div>
	
</body>

</html>