<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
</script>
</head>
<body>
	<div class="col-12 col-sm-4">
		<div class="form-group local-forms">
			<label class="editLabel">Grade <span class="login-danger">*</span></label>
			<select class="form-control" name="grade" id="gradeSelect"
				onchange="updateSubjectSelect()">
				<option value="">Select Grade</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
		</div>
	</div>


	<div class="col-12 col-sm-4">
		<div class="form-group local-forms">
			<label class="editLabel">Subject <span class="login-danger">*</span></label>
			<select class="form-control" name="subject" id="subjectSelect">
				<option value="" >--Select Subject--</option>
			</select>
		</div>
	</div>
	
	 <div>
	     <button onclick="updateSubjectSelect()" > Hello </button>
	 </div>
	 

	<script>
    function updateSubjectSelect() {
    	
    		 alert("Hello: ");
    		  //  var gradeSelect = document.getElementById("gradeSelect");
    	        //var subjectSelect = document.getElementById("subjectSelect");
    		  
    		    $.get("https://fakestoreapi.com/products/1", function(data){
    		      
    		      for(var i=0; i<2; i++){
    		    	  $('#subjectSelect').append('<option value=' + i + '>' + i + '</option>'); 
    		      }
    		      
    		    });
    	
    	
    	
      /*   const gradeSelect = document.getElementById("gradeSelect");
        const subjectSelect = document.getElementById("subjectSelect");
        
        // Clear previous options
        subjectSelect.innerHTML = "<option value=''>--Select Subject--</option>";

        // Get the selected grade
        const selectedGrade = gradeSelect.value;

        let subjects = [];
        if (selectedGrade === "11") {
            subjects = ["a", "b", "c"];
        } else if (selectedGrade === "12") {
            subjects = ["a", "b", "c", "d", "e"];
        }
 */
      /*   // Populate the subject select box
        subjects.forEach(subject => {
            const option = document.createElement("option");
            option.value = subject;
            option.text = subject;
            subjectSelect.add(option);
        }); */
    }
</script>

</body>
</html>