<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="TopNavBar.html"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="SideNavBar.html"></th:block>
		<div id="layoutSidenav_content">
			<main>


				<div class="container-fluid px-4">
					<h1 class="mt-4">Finance Report</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Finance Report</li>
					</ol>

					<div class="card mb-4">
						<div class="card-body">

							<form action="/expenseReportDetail" method="post" th:object="${expenseReportModel}">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label class="form-label" for="expenseFrom">
												From</label> <input type="date" th:field="*{expenseFrom}"
												class=" form-control" id="expenseFrom"
												placeholder="Enter Pay Date" required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="form-label" for="expenseTo"> To</label>
											<input type="date" th:field="*{expenseTo}" class=" form-control" 
												id="expenseTo" placeholder="Enter Pay Date" required>
										</div>
									</div>
									<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="grade">Grade</label>
													 <select th:field="*{grade}" id="grade"  class="form-control">
														<option value="">Select Grade</option>
														<option value="11">11</option>
														<option value="12">12</option>
														<option value="DHM">DHM</option>
														<option value="Both">Both</option>
														<option value="Others">Others</option>
													</select>
												</div>
											</div>
									<div class="col-lg-12 col-md-12 col-sm-12">

										<button type="submit" class="btn btn-primary">Generate</button>
									</div>
								</div>

							</form>
						</div>
						<br>




						<div class="expenseDetailRange">
							<h4>Report From [[${expenseFrom}]] To [[${expenseTo}]]</h4>
						</div>
						<br>


							<div class="row">
							<div class="col-sm-6">
								<div class="expenseListTitle">
									<h5>Expense List</h5>
								</div>
							</div>
							<div class="col-sm-6">
							<div class="incomeListTitle">
									<h5>Income List</h5>
								</div>
							</div>
							</div>

						<div class="row">
							<div class="col-sm-6">
								<table id="datatablesSimple">
									<thead>
										<tr>
											<th>Expense Type</th>
											<th>Particulars</th>
											<th>Amount</th>
											<th>Purchase Date</th>


										</tr>
									</thead>
									<tbody>
										<tr th:each=e:${expenseList}>
											<td>[[${e.expenseType}]]</td>
											<td>[[${e.particulars}]]</td>
											<td>[[${e.amount}]]</td>
											<td>[[${e.purchaseDate}]]</td>


										</tr>

									</tbody>
								</table>
							
							</div>
							<div class="col-sm-6">
								<table id="datatablesSimple1">
									<thead>
										<tr>
											<th>Fees Type</th>
											<th>Amount</th>
											<th>Purchase Date</th>


										</tr>
									</thead>
									<tbody>
										<tr th:each=f:${feesPaymentList}>
											<td>[[${f.feesType}]]</td>
											<td>[[${f.amount}]]</td>
											<td>[[${f.date}]]</td>
										</tr>

									</tbody>
								</table>
									
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="totalExpense">
									<h5>Total Expense : [[${totalExpense}]]</h5>
								</div>
							</div>
							<div class="col-sm-6">
							<div class="totalInccome">
									<h5>Total Income : [[${totalIncome}]]</h5>
								</div>
							</div>
							</div>
							<hr>
							<div class="row">
							
								<div class="totalBalance">
									<h5>Balance : [[${totalIncome-totalExpense}]]</h5>
								
							</div>
						</div>

					</div>
				</div>
			</main>
			<th:block th:insert="Footer.html"></th:block>
		</div>
	</div>
</body>
</html>