<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="TopNavBar.html"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="SideNavBar.html"></th:block>
		<div id="layoutSidenav_content">
			<main>


		 <div class="container-fluid px-4">
                        <h1 class="mt-4">Salary List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Salary List</li>
                        </ol>
                       
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                        <th>Salary Id</th>
                                        <th>Teacher Id</th>
                                            <th>Name</th>
                                             <th>Faculty</th>
                                            <th>Grade</th>
                                            <th>Subject</th>
                                            <th>Section</th>
                                            <th>Gender</th>
                                            <th>Pay Date</th>
                                            <th>Period</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th> Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each=s:${sList}>
                                        <td>[[${s.id}]]</td>
                                        <td>[[${s.teacherId}]]</td>
                                            <td>[[${s.fullName}]]</td>
                                            <td>[[${s.faculty.name}]]</td>
                                            <td>[[${s.grade}]]</td>
                                             <td>[[${s.subject.name}]]</td>
                                             <td>[[${s.section}]]</td>
                                            <td>[[${s.gender}]]</td>
                                            <td>[[${s.payDate}]]</td>
                                            <td>[[${s.period}]]</td>
                                            <td>[[${s.amount}]]</td>
                                            <td>[[${s.status}]]</td>
                                            
                                            <td>
                                            	<a  th:href="@{/editSalary(id=${s.id})}"><button class="btn btn-primary btn-sm">Edit</button></a>
                                            	<a th:href="@{/deleteSalary(id=${s.id})}"><button class="btn btn-danger btn-sm">Delete</button></a>
                                            	<a th:href="@{/salaryPaymentDetails(teacherId=${s.teacherId})}"><button class="btn btn-success btn-sm">Salary Details</button></a>
                                            	
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                	




			</main>
			<th:block th:insert="Footer.html"></th:block>
		</div>
	</div>
</body>
</html>