<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="TopNavBar.html"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="SideNavBar.html"></th:block>
		<div id="layoutSidenav_content">
			<main>


		 <div class="container-fluid px-4">
                        <h1 class="mt-4">Salary Setting List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Salary Setting List</li>
                        </ol>
                        <a href="/addSalarySetting"><button class="btn btn-warning">Add Salary Setting</button></a>
                       
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                        <th>Grade</th>
                                            <th>Faculty</th>
                                            <th>Subject</th>
                                            <th>Amount</th>
                                           
                                            <th>
                                            Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each=s:${salarySettingList}>
                                          <td>[[${s.grade}]]</td>
                                            <td>[[${s.faculty.name}]]</td>
                                          <td>[[${s.subject.name}]]</td>
                                            <td>[[${s.amount}]]</td>
                                            
                                           
                                            <td>
                                            	<a  th:href="@{/editSalarySetting(id=${s.id})}"><button class="btn btn-primary btn-sm">Edit</button></a>
                                            	<a th:href="@{/deleteSalarySetting(id=${s.id})}"><button class="btn btn-danger btn-sm">Delete</button></a>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                	




			</main>
			<th:block th:insert="Footer.html"></th:block>
		</div>
	</div>
</body>
</html>