<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="TopNavBar.html"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="SideNavBar.html"></th:block>
		<div id="layoutSidenav_content">
			<main>


				<div class="row">
					<div class="col-lg-3">
						<div class="student-personals-grp">
							<div class="card">
								<div class="card-body">
									<div class="heading-detail">
										<h4>Personal Details :</h4>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<img src="assets/img/icons/buliding-icon.svg" >
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-user"></i>
										</div>
										
										<div class="views-personal">
											<h4>Name</h4>
											<h5>[[${teacherModel.fullName}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										
										<div class="views-personal">
											<h4>Faculty</h4>
											<h5>[[${teacherModel.faculty.name}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-phone-call"></i>
										</div>
										<div class="views-personal">
											<h4>Grade</h4>
											<h5>[[${teacherModel.grade}]] </h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-phone-call"></i>
										</div>
										<div class="views-personal">
											<h4>Section</h4>
											<h5> [[${teacherModel.section}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-phone-call"></i>
										</div>
										<div class="views-personal">
											<h4>Subject</h4>
											<h5> [[${teacherModel.subject.name}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-phone-call"></i>
										</div>
										<div class="views-personal">
											<h4>E-mail</h4>
											<h5> [[${teacherModel.email}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-phone-call"></i>
										</div>
										<div class="views-personal">
											<h4>Experience</h4>
											<h5> [[${teacherModel.experience}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-phone-call"></i>
										</div>
										<div class="views-personal">
											<h4>Qualification</h4>
											<h5> [[${teacherModel.qualification}]]</h5>
										</div>
									</div>
									
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-user"></i>
										</div>
										<div class="views-personal">
											<h4>Gender</h4>
											<h5>[[${teacherModel.gender}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-phone-call"></i>
										</div>
										<div class="views-personal">
											<h4>Mobile Number</h4>
											<h5> [[${teacherModel.mobileNumber}]]</h5>
										</div>
									</div>
									
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-user"></i>
										</div>
										<div class="views-personal">
											<h4>Date of Birth</h4>
											<h5>[[${teacherModel.dob}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-user"></i>
										</div>
										<div class="views-personal">
											<h4>Join Date</h4>
											<h5>[[${teacherModel.joinDate}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-user"></i>
										</div>
										<div class="views-personal">
											<h4>City</h4>
											<h5>[[${teacherModel.address.city}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-user"></i>
										</div>
										<div class="views-personal">
											<h4>State</h4>
											<h5>[[${teacherModel.address.state}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-phone-call"></i>
										</div>
										<div class="views-personal">
											<h4>UserName</h4>
											<h5> [[${teacherModel.username}]]</h5>
										</div>
									</div>
									<div class="personal-activity">
										<div class="personal-icons">
											<i class="feather-phone-call"></i>
										</div>
										<div class="views-personal">
											<h4>Password</h4>
											<h5> [[${teacherModel.password}]]</h5>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					
					</div>
					<div class="col-lg-9">
						<div class="student-personals-grp">
							<div class="card mb-0">
								<div class="card-body">
								 <h3 class="mt-4">Salary List</h3>
									<table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                           
                                                                                       <th>Month</th>
                                           
                                           	 	<th>Period</th>
                                            <th>AMOUNT</th>
                                            <th>Amount Paid</th>
                                            <th>Amount Remaining</th>
                                            <th>Pay Date</th>
                                            <th>Status</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                        <tr th:each=s:${salaryList}>
                                        
                                                                                    <td>[[${s.month}]]</td>
                                           
                                                 <td>[[${s.period}]]</td>
                                            <td>[[${s.amount}]]</td>
                                         <td>[[${s.amountPaid}]]</td>
                                         <td>[[${s.amount-s.amountPaid}]]</td>
                                            <td>[[${s.payDate}]]</td>
                                            <td>[[${s.status}]]</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                                <div>
                                <a th:href="@{/teacherPayment(id=${teacherModel.id})}"><button class="btn btn-success">Pay</button></a>
                                </div>
                                
                                
								
								</div>
							</div>
						</div>
						
					
					<br>
					
					
					
					<div class="student-personals-grpp">
							<div class="card mb-0">
								<div class="card-body">
								 <h3 class="mt-4">Salary History</h3>
									<table  id="datatablesSimple1">
                                    <thead>
                                        <tr>
                                           <th>Month</th>
                                              <th>Amount</th>
                                            <th>Date And Time</th>
                                          
                  <th>Paid With</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr th:each="p:${paymentHistory}">
                                    	<td>[[${p.month}]]</td>
                                    	<td>[[${p.amount}]]</td>
                                    	<td>[[${p.date}]], [[${p.time}]]</td>
                                    	
                                    	<td>[[${p.paidWith}]]</td>
                                    	</tr>
                                    	
                                       
                                    </tbody>
                                </table>
                          
								</div>
							</div>
						</div>
					
					
				
						
					</div>
				</div>
			</main>
			<th:block th:insert="Footer.html"></th:block>
		</div>
	</div>
</body>
</html>