     
     <div id="layoutSidenav_nav">
		
     <nav class="sb-sidenav accordion sb-sidenav-custom" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            
                            
                            
                            
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#student" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Student
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="student" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/studentList">Student List</a>
                                    <a class="nav-link" href="/addStudent">Add Student</a>
                                </nav>
                            </div>
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#teacher" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Teacher
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="teacher" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/teacherList">Teacher List</a>
                                    <a class="nav-link" href="/addTeacher">Add Teacher</a>
                                </nav>
                            </div>
                            
                             <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#faculty" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Faculty
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="faculty" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/facultyList">Faculty List</a>
                                    <a class="nav-link" href="/addFaculty">Add Faculty</a>
                                </nav>
                            </div>
                            
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#subject" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Subject
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="subject" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/subjectList">Subject List</a>
                                    <a class="nav-link" href="/addSubject">Add Subject</a>
                                </nav>
                            </div>
                            
                             <div class="sb-sidenav-menu-heading">Management</div>
                             
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#exam" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Exam
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="exam" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/examList">Exam List</a>
                                    <a class="nav-link" href="/addExam">Add Exam</a>
                                </nav>
                            </div>
                            
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#fees" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Fees
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="fees" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/feesList">Fees List</a>
                                    <a class="nav-link" href="/addFees">Add Fees</a>
                                </nav>
                            </div>
                            
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#salary" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Salary
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="salary" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/salaryList">Salary List</a>
                                    <a class="nav-link" href="/addSalary">Add Salary</a>
                                </nav>
                            </div>
                            
                               <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#expenses" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Expense
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="expenses" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/expenseList">Expense List</a>
                                    <a class="nav-link" href="/addExpense">Add Expense</a>
                                    <a class="nav-link" href="/expenseReport">Expense Report</a>
                                    
                                </nav>
                            </div>
                            
                            
                            
                            
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Finance
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Income
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                          <a class="nav-link" href="/feesList">Fees List</a>
                                    <a class="nav-link" href="/addFees">Add Fees</a>
                                        </nav>
                                    </div>
                                    
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Expense
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                           <a class="nav-link" href="/salaryList">Salary List</a>
                                    <a class="nav-link" href="/addSalary">Add Salary</a>
     									<a class="nav-link" href="/expenseList">Expense List</a>
                                    <a class="nav-link" href="/addExpense">Add Expense</a>                                        </nav>
                                    </div>
                                    
                                    <a class="nav-link" href="/expenseReport">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Finance Report
                            </a>
                                </nav>
                            </div>
                            
                            
                             <div class="sb-sidenav-menu-heading">Setting</div>
                             
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#feesType" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Fees Type
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="feesType" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/feesTypeList">Fees Type List</a>
                                    <a class="nav-link" href="/addFeesType">Add Fees Type</a>
                                    
                                </nav>
                            </div>
                            
                                 <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#salarySetting" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Salary Setting
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="salarySetting" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/salarySettingList">Salary Setting List</a>
                                    <a class="nav-link" href="/addSalarySetting">Add Salary Setting</a>
                                </nav>
                            </div>
                            
                             <div class="sb-sidenav-menu-heading">Others</div>
                             
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#transport" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Transport
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="transport" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/transportList">Transport List</a>
                                    <a class="nav-link" href="/addTransport">Add Transport</a>
                                </nav>
                            </div>
                            
                            
                         
                           
                        </div>
                    </div>
                   
                </nav>
                </div>