<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="TopNavBar.html"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="SideNavBar.html"></th:block>
		<div id="layoutSidenav_content">
			<main>


		 <div class="container-fluid px-4">
                        <h1 class="mt-4">Teacher List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Teacher List</li>
                        </ol>
                       
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                         <th>Roll No</th>
                                            <th>Name</th>
                                            <th>Grade</th>
                                            <th>Gender</th>
                                            <th>Subject</th>
                                            <th>Mobile Number</th>
                                            <th>Address</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each=s:${sList}>
                                            <td>[[${s.rollNo}]]</td>
                                            <td>[[${s.fullName}]]</td>
                                            <td>[[${s.faculty.name}]]</td>
                                            <td>[[${s.grade}]][[${s.section}]]</td>
                                            <td>[[${s.mobileNumber}]]</td>
                                            <td>[[${s.email}]]</td>
                                            <td>[[${s.admissionDate}]]</td>
                                            <td>
                                            	<a  th:href="@{/editStudent(id=${s.id})}"><button class="btn btn-primary">Edit</button></a>
                                            	<a th:href="@{/deleteStudent(id=${s.id})}"><button class="btn btn-danger">Delete</button></a>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                	




			</main>
			<th:block th:insert="Footer.html"></th:block>
		</div>
	</div>
</body>
</html>