<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="TopNavBar.html"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="SideNavBar.html"></th:block>
		<div id="layoutSidenav_content">
			<main>


		 <div class="container-fluid px-4">
                        <h1 class="mt-4">Teacher List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Teacher List</li>
                        </ol>
                       
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                         <th>Teacher Id</th>
                                            <th>Name</th>
                                            <th>Faculty</th>
                                            <th>Grade</th>
                                            <th>Section</th>
                                            <th>Gender</th>
                                            <th>Subject</th>
                                            <th>Mobile Number</th>
                                            <th>Address</th>
                                            <th>Basic Salary</th>
                                            <th>Period</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each=t:${tList}>
                                        <td>[[${t.teacherId}]]</td>
                                            <td>[[${t.fullName}]]</td>
                                            <td>
                                              <th:block th:each="fact : ${t.faculty}">
                                                [[${fact.name}]]
                                              </th:block>
                                            </td>
                                            <td>[[${t.grade}]]</td>
                                            <td> [[${t.section}]]</td>
                                            <td>[[${t.gender}]]</td>
                                            <td>[[${t.subject.name}]]</td>
                                            <td>[[${t.mobileNumber}]]</td>
                                            <td>[[${t.address.state}]],[[${t.address.city}]]</td>
                                                <td> [[${t.salary}]]</td>
                                            <td>[[${t.period}]]</td>
                                            <td>
                                            	<a  th:href="@{/editTeacher(id=${t.id})}"><button class="btn btn-primary">Edit</button></a>
                                            	<a th:href="@{/deleteTeacher(id=${t.id},teacherId=${t.teacherId})}"><button class="btn btn-danger">Delete</button></a>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                	




			</main>
			<th:block th:insert="Footer.html"></th:block>
		</div>
	</div>
</body>
</html>