<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="sb-nav-fixed">
	<th:block th:insert="TopNavBar.html"></th:block>
	<div id="layoutSidenav">
		<th:block th:insert="SideNavBar.html"></th:block>
		<div id="layoutSidenav_content">
			<main>


		 <div class="container-fluid px-4">
                        <h1 class="mt-4">Exam List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Exam List</li>
                        </ol>
                       
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Route Name</th>
                                            <th>Vehicle Number</th>
                                            <th>Driver Name</th>
                                            <th>Driver License</th>
                                            <th>Contact Number</th>
                                            
                                            <th>Driver Address</th>
                                           
                                            <th>
                                            Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each=t:${tList}>
                                            <td>[[${t.routeName}]]</td>
                                            <td>[[${t.vehicleNumber}]]</td>
                                            <td>[[${t.driverName}]]</td>
                                            
                                            <td>[[${t.driverLicense}]]</td>
                                            <td>[[${t.contactNumber}]]</td>
                                             <td>[[${t.driverAddress.state}]],[[${t.driverAddress.city}]]</td>
                                            <td>
                                            	<a  th:href="@{/editTransport(id=${t.id})}"><button class="btn btn-primary">Edit</button></a>
                                            	<a th:href="@{/deleteTransport(id=${t.id})}"><button class="btn btn-danger">Delete</button></a>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                	




			</main>
			<th:block th:insert="Footer.html"></th:block>
		</div>
	</div>
</body>
</html>